.page-header h1 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

#repl textarea {
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-weight: bold;
}

#repl #stdout {
}

.code {
    font-weight: bold;
    cursor: default;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.code:hover {
    background-color: #ddf4fb;
    border-color: #c6edf9;
}

#repl label {
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-weight: bold;
}
