.page-header h1 a {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    color: #00438a;
}

#repl textarea {
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-weight: bold;
    color: #333;
}

#repl #stdout {
  font-size: 13px;
}

.code {
    font-weight: bold;
    cursor: default;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px 3px;
    border-top: 1px solid #eee;
}
.code:hover {
    background-color: #fee9cc;
    border-color: #ccc;
}

.line {
    padding-left: 4px;
}

#repl .alert-message.error {
    padding: 8.5px;
    margin: 4px;
}
#repl .alert-message.error:hover {
    border-color: #b94a48;
}

#prompt {
    margin-left: 12px;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-weight: bold;
}
#prompt:hover {
    color: #00438a;
}
